.user {
  margin-right: 60px;
  img {
    border-radius: 100%;
    width: 100px;
    height: 100px;
  }

  &-identity {
    padding: 20px;
    border-radius: 10px;
    background-color: #fff;
  }
  &-name {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    max-width: fit-content;

    h4 {
      margin-left: 10px;
    }

    p {
      margin-top: 0;
      margin-bottom: 0;
      margin-left: 10px;
    }
  }

  &-bio {
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
  }
}
