@import '../../../assets/variables.scss';
.friend-list {
  .friend {
    .friend-data {
      margin-top: 50px;
      max-width: 60%;
      padding: 20px 20px 20px 20px;
      border: 2px solid #ccc;
      display: flex;
      align-items: center;
      transition: 0.2s ease-in-out;
      transition-property: background-color, color;
      border-radius: 5px;
      background-color: #fff;
      margin-bottom: 10px;
      cursor: pointer;

      &:hover {
        background-color: #2c3e50;
        color: white;
      }

      img {
        margin-right: 10px;
      }
    }
  }
}
