@media (max-width: 992px) {
  .hamburger.active {
    display: block;
    padding-left: 20px;
    cursor: pointer;
  }

  .hamburger {
    display: block;
    padding-top: 10px;
    padding-left: 20px;
    cursor: pointer;
  }
  .bar {
    display: block;
    background-color: white;
    width: 50px;
    height: 2px;
    margin: 10px;
  }

  .x-button {
    color: white;
    font-size: 22px;
    padding-left: 32px;
    padding-bottom: 20px;
    background-color: #2c3e50;
    width: 110%;
    cursor: pointer;
  }
}
