@import '../../../assets/variables.scss';
.content {
  width: calc(100% - #{$sidebarWidth});
  margin-left: $sidebarWidth;
  padding-top: $topSpacer;
  padding-left: $leftSpacer;
  padding-bottom: $bottomSpacer;
  padding-right: $rightSpacer;
  background-color: $contentBackground;
  height: 100%;
}
