@import '../../../assets/variables.scss';

#root > div {
  height: 100%;
}
.content {
  width: calc(100% - #{$sidebarWidth});
  margin-left: $sidebarWidth;
  padding-top: $topSpacer;
  padding-left: $leftSpacer;
  padding-bottom: $bottomSpacer;
  padding-right: $rightSpacer;
  background-color: $contentBackground;
  min-height: 100%;
}
@media (max-width: 992px) {
  .content {
    width: 100%;
    margin: 0;
  }
}
