.form-auth {
  width: 350px;
  text-align: center;
  margin: 10px auto;

  input {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
  }

  button {
    border-radius: 5px;
  }

  button:disabled {
    cursor: not-allowed;
  }
}
.links-auth {
  p,
  a {
    color: black;
  }

  a {
    padding-left: 10px;
  }
}

.message-auth {
  color: white;
  display: block;
  padding-left: 10px;
}
